@font-face {
    font-family: OpenSans;
    src: url(OpenSans-Regular.ttf);
}
@font-face {
    font-family: Kelson;
    src: url(Kelson_Sans_Regular.otf);
}
@font-face {
    font-family: Edelsans;
    src: url(edelsans_regular.otf);
}

/*----------------------div elements--------------------*/
nav{
	font-family: Edelsans;
}
.navbar-brand{
	font-family: Kelson;
	font-size: 1.35rem;
}

body {
	position: relative;
	min-height: 100vh;
    background: #fff;
    color: #222;
}
#main_body{
	padding-bottom:40px;
}
footer {
	position:absolute;
	bottom:0;
	width:100%;
	height:40px;			/* Height of the footer */
}

.overlay{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	z-index: 2000;
}
.overlay_form{			
	position: absolute;
	padding: 20px 40px;
	border-radius: .25rem;
	width: 100%;
	max-width: 800px;
	max-height: 550px;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	background-color: #f8f8f8;
	overflow: hidden;
}
.overlay_register, .overlay_login, .overlay_listing{
	display: none;
}


.container{
	margin-top: 1rem;
}


/*----------------------item/text elements--------------------*/
.header_category{
	border-bottom: grey 1px solid;
}
.title_category{
	padding: 0;
	font-family: Edelsans;
	margin: 0;
	text-transform: uppercase;
}
a:hover {
    color: #0056b3;
    text-decoration: none;
}
.item{
	margin: .25rem 0;
	cursor: pointer;
}
.item:hover {
	color: #495057;
	background-color: #fff;
	border-color: #80bdff;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.sellable{
	margin: .25rem 0;
	cursor: pointer;
}
.sellable:hover {
	color: #495057;
	background-color: #fff;
	border-color: #80bdff;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}