@font-face {
    font-family: OpenSans;
    src: url(OpenSans-Regular.ttf);
}
@font-face {
    font-family: Kelson;
    src: url(Kelson_Sans_Regular.otf);
}
@font-face {
    font-family: Edelsans;
    src: url(edelsans_regular.otf);
}

/*----------------------div elements--------------------*/
nav{
	font-family: Edelsans;
}
.navbar-brand{
	font-family: Kelson;
	font-size: 1.35rem;
}

body {
	position: relative;
	min-height: 100%;
    background: #fff;
    color: #222;
}
#main_body{
	padding-top: 20px;
	padding-bottom:80px;
}
footer {
	position:absolute;
	bottom:0;
	width:100%;
	height:50px;			/* Height of the footer */
}

.overlay{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	z-index: 2000;
}
.overlay_form{			
	position: absolute;
	padding: 20px 40px;
	border-radius: .25rem;
	width: 100%;
	max-width: 800px;
	max-height: 550px;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	background-color: #f8f8f8;
	overflow: hidden;
}
.overlay_register, .overlay_login, .overlay_listing{
	display: none;
}


.container{
	margin-top: 1rem;
}

#form_buy{
	background: #f2faff;
	border: #c0c0c0 1px solid;
	border-radius: 5px;
}

/*sidebar navigation*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.bt-div{
	border-bottom: #565656 1px solid;
}
.sidenav form {
    padding: 8px 32px 8px 32px;
    transition: 0.3s;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
    margin-right: 15px;
}
#main {display: none;}
#main {
	float: right;
    transition: margin-right .5s;
    
}
a.openNav {
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;
}
.sidenav .nav-link {
	font-size: 13px;
	font-weight: bold;
}
.mob-ul {
    list-style-type: none;
    padding-left: 0;
}
.sidenav li{
	padding: 0 3px !important;
    position: relative;
}
.sidenav li a {
    padding-bottom: 15px;
    text-transform: uppercase;
}
.sidenav li form {
    padding-bottom: 15px;
    text-transform: uppercase;
}
.sidenav ul li:hover .nav-link {
    color: #008ba3;
}

/*----------------------item/text elements--------------------*/
.header_category{
	border-bottom: grey 1px solid;
}
.title_category{
	padding: 0;
	font-family: Edelsans;
	margin: 0;
	text-transform: uppercase;
}
a:hover {
    color: #0056b3;
    text-decoration: none;
}
.item{
	margin: .25rem 0;
	cursor: pointer;
}
.item:hover {
	color: #495057;
	background-color: #fff;
	border-color: #80bdff;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.sellable{
	margin: .25rem 0;
	cursor: pointer;
}
.sellable:hover {
	color: #495057;
	background-color: #fff;
	border-color: #80bdff;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}